.DS_Store
build/
.idea/
.vscode/

doc/site/
doc/doxygen/

*.pyc
compile_commands.json
CMakeLists.txt.user
cppcheck*
report
utils/release
doc/all.xml
reference.md
/vc14.1/rpclib/.vs/
/.vs/
/rpc.dir/
/vc14.1/rpclib/Int/
/x64/
/Debug/
/MinSizeRel/
*.user
/vc14.1/rpclib/Lib/
